<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to "Strona główna", root_path %>
        </li>
        <li class="active">
          <a href="#">Profile</a>
        </li>
        <li class="disabled">
          <a href="#">Messages</a>
        </li>
        <li class="dropdown pull-right">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <%= link_to('Edit account', edit_user_registration_path) %>          
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <%= yield %>
</div>



</body>
</html>
